################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RaveSpeak/bin
/.vs
/RaveSpeak/obj
/RaveSpeak/Properties/PublishProfiles/localhost.pubxml.user
/RaveSpeak/RaveSpeak.csproj.user
/RaveSpeak.UnitTests/bin/Debug/netcoreapp2.2
/RaveSpeak.UnitTests/obj
